@keyframes tagPicker {
    0% {
        opacity: 0;
        transform: translate(-9px, -35px);
    }
    100% {
        opacity: 1;
        transform: translate(-9px, -35px);
    }
};

.card.card--create{
    padding-top: 10px;

    .input{
        border-radius: 6px;
        font-size: 16px;
        transition: border-color .3s ease;

        &:focus{
            outline: none;
        };

        &.input--task-type{
            padding: 3px 3px 3px 5px;
        };

        &.input--task-content{
            line-height: 20px;
            margin: 15px 0;
            resize: none;
            width: 100%;
            height: 72px;
            padding: 5px;
        };
    };

    .card__header{
        .header__label{
            padding-top: 0;
            position: relative;

            .tag__picker{
                position: absolute;
                display: flex;
                padding: 8px;
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 6px;
                transform: translate(-9px, -35px);
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
                transform-origin: left bottom;
                animation: .15s ease 0s 1 tagPicker forwards;

                .tag__picker__color{
                    width: 15px;
                    height: 15px;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    border-radius: 50%;

                    &:hover{
                        cursor: pointer;
                    };

                    &:not(:last-of-type){
                        margin-right: 8px;
                    };

                    &.selected-color{
                        border: none;
                        box-shadow: inset 0 0 0 2px rgb(61 61 61);
                    };
                };
            };

            .label__tag{
                margin: auto 5px auto 0px;
                &:hover{
                    cursor: pointer;
                };
            };
        };
        .header__close-button{
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            background-position: center center;
            transition: background-color .2s ease;
            border-radius: 4px;

            &:hover{
                cursor: pointer;
                background-color: rgba(196, 196, 196, 0.15);
            };
            &:focus{
                outline-width: 2px;
                outline-color: rgba(58, 108, 217, 0.5);
                outline-style: solid;
            };
            &:focus:not(:focus-visible){
                outline: none;
            };
            &:focus-visible{
                background-color: rgba(196, 196, 196, 0.15);
                outline-width: 2px;
                outline-color: rgba(58, 108, 217, 0.5);
                outline-style: solid;
            };
        };
    };
};

body{
    &.light{
        .card.card--create{
            .input{
                border: 1px solid rgba(0,0,0,0.1);
                color: rgba(61, 61, 61, 1);

                &::placeholder{
                    color: rgba(61, 61, 61, 0.3)
                };

                &:hover, &:focus{
                    border-color: rgba(0, 0, 0, 0.3);
                };
            };

            .card__header{
                .header__label{
                    .tag__picker{
                        background-color: rgba(255, 255, 255, 1);

                        .tag__picker__color{
                            &.selected-color{
                                border: none;
                                box-shadow: inset 0 0 0 2px rgb(61 61 61);
                            };
                        };
                    };
                };
                .header__close-button{
                    background-image: url('../../img/cancel.svg');
                };
            };
        };
    };

    &.dark{
        .card.card--create{
            .input{
                background-color: transparent;
                border: 1px solid rgba(84, 84, 88, 0.35);
                color: #fff;

                &::placeholder{
                    color: rgba(235, 235, 245, 0.3);
                };

                &:hover, &:focus{
                    border-color: rgba(84, 84, 88, 0.65);
                };
            };

            .card__header{
                .header__label{
                    .tag__picker{
                        background-color: rgba(44, 44, 46, 1);

                        .tag__picker__color{
                            &.selected-color{
                                border: none;
                                box-shadow: inset 0 0 0 2px #fff;
                            };
                        };
                    };
                };

                .header__close-button{
                    background-image: url('../../img/cancel--dark.svg');
                };
            };
        };
    };
};