.topBar{
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 16px;

    .topBar__item{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 10px;
        border-radius: 6px;
        user-select: none;

        &:first-of-type{
            padding-left: max(20px, env(safe-area-inset-left));
        };

        &:hover{
            cursor: pointer;
        };

        .topBar__item__menu{
            position: absolute;
            display: flex;
            flex-direction: column;
            width: max-content;
            left: 0;
            top: 100%;
            padding: 5px;
            border-radius: 6px;

            .menu__item--separator{
                margin: 5px;
            };

            .menu__item{
                padding: 5px;
                border-radius: 6px;
                font-size: 14px;

                &:hover{
                    cursor: pointer;
                };
            };
        };
    };
};

body{
    &.light{
        .topBar{
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            background-color: rgba(255, 255, 255, 0.75);
            color: rgba(61, 61, 61, 1);
            font-weight: 400;

            .topBar__item{
                .topBar__item__menu{
                    background-color: rgba(255, 255, 255, 1);
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

                    .menu__item--separator{
                        border-top: 1px solid rgba(0, 0, 0, 0.05);
                    };

                    .menu__item{
                        font-weight: 400;

                        &:hover{
                            background-color: rgba(196, 196, 196, 0.15);
                        };
                    };
                };
            };
        };
    };

    &.dark{
        .topBar{
            border-bottom: 1px solid transparent;
            background-color: rgba(44, 44, 46, 1);
            color: #fff;
            font-weight: 300;

            .topBar__item{
                .topBar__item__menu{
                    background-color: rgba(44, 44, 46, 1);
                    border: 1px solid rgba(84, 84, 88, 0.65);

                    .menu__item--separator{
                        border-top: 1px solid rgba(84, 84, 88, 0.65);
                    };

                    .menu__item{
                        font-weight: 300;

                        &:hover{
                            background-color: rgba(255, 255, 255, 0.1);
                        };
                    };
                };
            };
        };
    };
};

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    body{
        &.light{
            .topBar .topBar__item .topBar__item__menu{
                background-color: rgba(255, 255, 255, 0.5);
                -webkit-backdrop-filter: blur(1rem);
                backdrop-filter: blur(1rem);
            };
        };
        &.dark{
            .topBar .topBar__item .topBar__item__menu{
                background-color: rgba(44, 44, 46, 0.5);
                -webkit-backdrop-filter: blur(1rem);
                backdrop-filter: blur(1rem);
            };
        };
    };
}