.board {
    display: flex;
    flex-grow: 1;
    gap: var(--spacing--quarter);
    padding-top: max(var(--spacing--quarter), env(safe-area-inset-top));
    padding-right: max(var(--spacing--quarter), env(safe-area-inset-right));
    padding-bottom: max(var(--spacing--quarter), env(safe-area-inset-bottom));
    padding-left: max(var(--spacing--quarter), env(safe-area-inset-left));
}