.card {
    margin: var(--spacing--quarter);
    padding: var(--spacing--quarter);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    background-color: var(--color-bg-white);
}

.header {
    display: flex;
    gap: var(--spacing--half);
}

.labelWrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--spacing--half);
}

.tag {
    width: var(--font-size);
    height: var(--font-size);
    border-radius: 50%;
}

.tagCardCreate {
    flex-shrink: 0;
    width: var(--font-size);
    height: var(--font-size);
    border-radius: 50%;
    cursor: pointer;
}

.title {
    color: var(--color-text--light);
    font-weight: 500;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dragZone {
    flex: 1;
    border-radius: var(--border-radius);
    border-width: 1px;
    border-style: dashed;
    border-color: transparent;
    transition: border-color .24s ease;

    &:hover {
        border-color: var(--color-border);
    }
}

.date {
    align-self: center;
    font-size: .75rem;
    color: var(--color-text--extralight);
}

.main {
    margin: var(--spacing--quarter) 0;
}

.cardText {
    white-space: pre-line;
}

.cardTypeInput,
.cardContentInput {
    appearance: none;
    border: 1px solid var(--color-text--extralight);
    background-color: var(--color-bg-white);
    border-radius: var(--border-radius);
    width: 100%;
}

.cardTypeInput {
    // flex: 1;
    padding: 0 var(--spacing--quarter);
}

.cardContentInput {
    padding: 0 var(--spacing--quarter);
    margin: var(--spacing--half) 0;
    resize: vertical;
    max-height: 450px;
    min-height: calc(var(--font-size) * 3 + 2px);
}

.error {
    border-color: var(--color-red);
}

.buttonsWrapper {
    display: flex;
    gap: var(--spacing--half);
}

.button {
    flex: 1;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color .16s ease-out;

    &:hover {
        background-color: var(--color-hover);
    }
}

.buttonCancel {
    color: var(--color-red);
}

.picker {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    display: flex;
    gap: var(--spacing--half);
    padding: var(--spacing--half);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background-color: var(--color-bg-white--opacity);
    backdrop-filter: blur(1rem);
    transform-origin: left bottom;
    // animation: .16s ease-out tagPicker;

    .tagCardCreate {
        transition: transform .16s ease-out;
    }

    .tagCardCreate:hover {
        transform: scale(1.2);
    }
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    width: fit-content;
}

.menuButton {
    border-radius: var(--border-radius);
    transition: background-color .16s ease-out;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: var(--color-hover);
    }

    svg {
        rect {
            fill: var(--color-text--extralight);
        }
    }
}

.active {
    background-color: var(--color-hover);
}

.menuList {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 100%;
    padding: var(--spacing--quarter);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    background-color: var(--color-bg-white--opacity);
    backdrop-filter: blur(16px);
    box-shadow: 0 1px 3px var(--color-shadow);
    font-size: .875em;
    cursor: default;
}

.listItem {
    border-radius: inherit;
    white-space: nowrap;
    padding: 0 var(--spacing--half);
    transition: background-color .16s ease-out;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: var(--color-hover);
    }
}

.listSeparator {
    border-top: 1px solid var(--color-border);
    margin: var(--spacing--quarter) var(--spacing--half);
}

@keyframes tagPicker {
    from {
        opacity: 0;
        transform: translateY(-100%) scale(0);
    }

    to {
        opacity: 1;
        transform: translateY(-100%) scale(1);
    }
}