*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100%;
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    appearance: none;
    background-color: unset;
    border: 0;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

ul {
    list-style-type: none;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}